<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Products</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>


<div class="container">
  <div class="col-sm-6">
  <div class="card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">Your selection for filtering</h5>
      <p class="card-text">Order by Rating=<span th:text=" ${rating}"></span>
        , Order by Date= <span th:text="${date}"></span>
        , Prioritize by text=<span th:text="${text}"></span>
        , Minimum rating=<span th:text="${minimum}"></span>
      </p>
      <a type="button" class="btn btn-outline-success my-2 my-sm-0" href="/">Back to do another filter</a>
    </div>
  </div>
  </div>

  <div class="container mb-4">
    <div class="row">
      <div class="col-12" th:if="${reviews.size() > 0}">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">ReviewId</th>
              <th scope="col">reviewText</th>
              <th scope="col">numLikes</th>
              <th scope="col">numComments</th>
              <th scope="col">numShares</th>
              <th scope="col">rating</th>
              <th scope="col">createdOnTime</th>
              <th scope="col">createdOnDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
              <td th:text="${review.getReviewId()}"></td>
              <td th:text="${review.getReviewText()}"></td>
              <td th:text="${review.getNumLikes()}"></td>
              <td th:text="${review.getNumComments()}"></td>
              <td th:text="${review.getNumShares()}"></td>
              <td th:text="${review.getRating()}"></td>
              <td th:text="${review.getCreatedOnTime()}"></td>
              <td th:text="${review.getCreatedOnDate()}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<!-- Footer -->

